
.feedback-form {
  width: 408px;
  height: 296px;
  margin-top: 10px;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.feedback-form label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  width: 360px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form input:hover,
.feedback-form input:focus {
  border: 1px solid #000;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  padding: 8px 16px 8px 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
