/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}
